@using Model
@{
    ApplicationUser loginedUser = ViewBag.LoginedUser;
}

<script src="~/js/jquery-1.10.2.min.js"></script>
<link href="~/css/style.css" rel="stylesheet" />
<body>
    <div class="web-full">
        <div id="user-profile" class="user-profile">
            @if (loginedUser != null)
            {
                <div class="profile-bg"></div>
                <img class="profile-avatar" src="@loginedUser.Avatar" />
                <div class="profile-item">
                    <div class="label-profile-item">
                        Tên đăng nhập :
                    </div>
                    <div class="label-profile-content">
                        @loginedUser.Name
                    </div>
                </div>

                <div class="profile-item">
                    <div class="label-profile-item">
                        Tình trạng :
                    </div>
                    <div class="label-profile-content">
                        Đang du lịch
                    </div>
                </div>

                <div class="profile-item">
                    <div class="label-profile-item">
                        Số điểm :
                    </div>
                    <div class="label-profile-content">
                        @loginedUser.Bonus
                    </div>
                </div>
            }
        </div>

        <div class="content">
            <div class="header center-vertical">
                <div class="web-name center-vertical">Bán hàng</div>
                <div class="search-input-group center-vertical">
                    <input class="search-input center-vertical" placeholder="Tìm kiếm" />
                    <div class="search-icon center-vertical"></div>
                    <div class="advanced-search-icon center-vertical"></div>
                </div>

                <div class="menu-group center-vertical">
                    <div class="menu center-vertical menu-bar">Trang chủ</div>
                    <div class="menu center-vertical menu-bar">Sản phẩm</div>
                    <div class="menu center-vertical menu-bar">Forum</div>
                </div>

                <div class="profile-group center-vertical">
                    @if (loginedUser != null)
                    {
                        <div class="profile">
                            <div style="display: flex">
                                <div class="notification center-vertical">
                                    <div class="number-of-notification-par">
                                        <div class="number-of-notification">
                                            3
                                        </div>
                                    </div>
                                </div>
                                <div class="user-name center-vertical">@loginedUser.Name</div>
                                <div style="background: url(@loginedUser.Avatar)" class="user-icon center-vertical"></div>
                                <div class="menu-bar profile-propeties center-vertical" id="open-user-profile"></div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="buttonRegister" class="login-group">
                            <div class="login-facebook-icon">
                                <div class="login-content">Đăng nhập bằng facebook</div>
                            </div>
                        </div>
                    }
                </div>



            </div>

            <div class="main-content">

                @RenderBody()

            </div>
        </div>
    </div>


    <script>
        var catItems = $('.root-category-item');
        $.each(catItems,
            function (key, value) {
                var catItem = $(value);

                catItem.mouseenter(function () {
                    var catItemDecription = $($(this).find('.category-item-decription')[0]);
                    var catItemText = $($(this).find('.category-item-text')[0]);
                    // catItemText.css('margin-bottom', 'auto');
                    catItemDecription.css('display', 'table');

                    catItemText.animate({
                        'margin-bottom': '40px'
                    }, 200);

                    var catItemTitleBackground = $($(this).find('.category-item-title-background')[0]);
                    catItemTitleBackground.animate({
                        height: "100%"
                    }, 200);
                }).mouseleave(function () {
                    var catItemDecription = $($(this).find('.category-item-decription')[0]);
                    var catItemText = $($(this).find('.category-item-text')[0]);
                    catItemText.animate({
                        'margin-bottom': '16px'
                    }, 200);
                    catItemDecription.css('display', 'none');
                    var catItemTitleBackground = $($(this).find('.category-item-title-background')[0]);
                    catItemTitleBackground.animate({
                        height: "35%"
                    }, 200);
                });
            });


        $('#open-user-profile').click(function (e) {
            e.preventDefault();
            $('#user-profile').css('display', 'block');
        });

        $(document).click(function (e) {
            if ($(e.target).closest($('#open-user-profile')).length === 0 && $(e.target).closest($('#user-profile')).length === 0) {
                $('#user-profile').css('display', 'none');
            }
        });

    </script>

    <script src="~/js/layout/web_layout.js"></script>
</body>